<div id="<%= dom_id anime %>">
  <p>
    <strong>Title:</strong>
    <%= anime.title %>
  </p>

  <p>
    <strong>Main character:</strong>
    <%= anime.main_character %>
  </p>

  <p>
    <strong>Year created:</strong>
    <%= anime.year_created %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= anime.synopsis %>
  </p>

</div>
