<%= form_with(model: secured_asset) do |form| %>
  <% if secured_asset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(secured_asset.errors.count, "error") %> prohibited this secured_asset from being saved:</h2>

      <ul>
        <% secured_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_number, style: "display: block" %>
    <%= form.text_field :account_number %>
  </div>

  <div>
    <%= form.label :cash, style: "display: block" %>
    <%= form.number_field :cash %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
